<div>
    <h2 data-translate="educationStudentApp.courses.home.title">Courses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="courses.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="educationStudentApp.courses.home.createLabel">
                        Create new Courses
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="educationStudentApp.courses.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="educationStudentApp.courses.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ects"><span data-translate="educationStudentApp.courses.ects">Ects</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="professor.degree, name"><span data-translate="educationStudentApp.courses.professor">Professor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="courses in vm.courses track by courses.id">
                    <td><a ui-sref="courses-detail({id:courses.id})">{{courses.id}}</a></td>
                    <td>{{courses.name}}</td>
                    <td data-translate="{{'educationStudentApp.CourseType.' + courses.type}}">{{courses.type}}</td>
                    <td>{{courses.ects}}</td>
                    <td>
                        <a ui-sref="professors-detail({id:courses.professor.id})">{{courses.professor.degree, name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="courses-detail({id:courses.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="courses.edit({id:courses.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="courses.delete({id:courses.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
