
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCoursesLabel" data-translate="educationStudentApp.courses.home.createOrEditLabel">Create or edit a Courses</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.courses.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.courses.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="educationStudentApp.courses.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.courses.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="educationStudentApp.courses.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.courses.type" id="field_type" required>
                <option value="lecture" data-translate="educationStudentApp.CourseType.lecture">lecture</option>
                <option value="exercises" data-translate="educationStudentApp.CourseType.exercises">exercises</option>
                <option value="laboratory" data-translate="educationStudentApp.CourseType.laboratory">laboratory</option>
                <option value="project" data-translate="educationStudentApp.CourseType.project">project</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="educationStudentApp.courses.ects" for="field_ects">Ects</label>
            <input type="number" class="form-control" name="ects" id="field_ects"
                    ng-model="vm.courses.ects"
                    required/>
            <div ng-show="editForm.ects.$invalid">
                <p class="help-block"
                    ng-show="editForm.ects.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.ects.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="educationStudentApp.courses.professor" for="field_professor">Professor</label>
            <select class="form-control" id="field_professor" name="professor" ng-model="vm.courses.professor" ng-options="professors as professors.degree, name for professors in vm.professors track by professors.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.professor.$invalid">
            <p class="help-block"
                ng-show="editForm.professor.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
