<div>
    <h2 data-translate="educationStudentApp.students.home.title">Students</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="students.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="educationStudentApp.students.home.createLabel">
                        Create new Students
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="educationStudentApp.students.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="index_number"><span data-translate="educationStudentApp.students.index_number">Index Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="field_of_study.name, degree_of_studies, start_year"><span data-translate="educationStudentApp.students.field_of_study">Field Of Study</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="students in vm.students track by students.id">
                    <td><a ui-sref="students-detail({id:students.id})">{{students.id}}</a></td>
                    <td>{{students.name}}</td>
                    <td>{{students.index_number}}</td>
                    <td>
                        <a ui-sref="field-of-study-detail({id:students.field_of_study.id})">{{students.field_of_study.name, degree_of_studies, start_year}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="students-detail({id:students.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="students.edit({id:students.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="students.delete({id:students.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
